body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.root {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica;

  
}

::-webkit-scrollbar { 
  display: none; 
}

[data-container=container] {
  order:2;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0px auto;
      justify-content: center;
}

article {
  /* background-color: black;
width: 10px;
height:19px; */
}

header {
  display: flex;
  margin: auto;
  background: #e2e2e2;
  background-image: linear-gradient(185deg, #cacaca, #c1c1c1 80%);
  justify-content: center;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.14);}

section {
  background-image: linear-gradient(180deg, #ADADAD, #808080 80%);
  ;

  margin: 1em;
  box-shadow: 0 0 11px rgba(33, 33, 33, .5);
  transition: box-shadow .3s;
  border-radius: 10px;
}

section:hover {
  box-shadow: 0 0 20px rgba(33, 33, 33, .5);
}

h1 {
  text-align: center;
  text-shadow: 0 0 2px rgba(33, 33, 33, .2);
  color: #E3E3E3;
}
h2 {
  text-align: center;
  text-shadow: 0 0 2px rgba(33, 33, 33, .2);
  font-size: 40px;
  color: #0d0a52
}

p {
  margin: 9px;
}

[data-p2=red] {
  padding: 3px;
  background-color: #e85151
}

[data-p2=green] {
  padding: 3px;
  background-color: #74f282
}

[data-status] {
  width: 1/4fr;
  height: auto;
  border-radius: 3px;
  text-align: center;
  color: white
}

[data-fail=nope] {
  background-color: #ff0000;
  border-radius: 4px;
  color: white;
}
svg.rw-schiphol-logo__svg{
  margin: 15px auto 15px;
  width: 265px;
  height: 73px;
}

[data-button='filter'] {
  margin: 20px;
  padding: 20px;
  background-color: #0d0a52;
  text-align: center;
  color: white;
  width: 100px;
  border-radius: 10px;
}

[data-status=SCH] {
  background-color: #298b75
}

[data-status=EXP] {
  background-color: #298b75
}

[data-status=DEL] {
  background-color: #cf4343
}

[data-status=WIL] {
  background-color: #2c8aad
}

[data-status=GTO] {
  background-color: #2cad60
}

[data-status=BRD] {
  background-color: #2cabad
}

[data-status=GTD] {
  background-color: #e74141
}

[data-status=GCL] {
  background-color: #a61010
}

[data-status=DEP] {
  background-color: #d2a726
}

[data-status=CNX] {
  background-color: #191919
}

[data-status=GCH] {
  background-color: #475bb2
}

[data-status=TOM] {
  background-color: #415c5e
}


.loader>img{
  width: 40px;
  height: 40px;
  animation-name: loading;
  animation-duration: 5.5s;
  animation-iteration-count: infinite;
}
.loader{
  margin: auto;
  text-align: center;

}

@keyframes loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}